html{
    width: 700px;
    height: 500px;
    background-color: #1a1e22;
    color: #d8d2cc;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

body{
    margin: 0;
}

#header{
    font-weight: bold;
    text-align: center;
}

#panel {
    text-align: center;
    display: inline-block;
}

.filter_btn {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color:#494e54;
    border-radius: 7px;
    color: #d8d2cc;
    border: 1px solid #d8d2cc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter_btn:hover{
    cursor: pointer;
}

.filter_btn:active{
    background-color:#272d33;
}

.check {
    width : 20px;
    height : 15px;
}


/* Style tab links */
.tablink {
    background-color: #272d33;
    color: #d8d2cc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}
  
.tablink:hover {
    background-color: #494e54;
}
  
  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 50px 20px;
    height: 100%;
}


.vertical {
    writing-mode: vertical-lr;
}

td {
    text-align: center;
}

td:hover{
    background-color: gray;
    cursor: pointer;
}

tr:hover {
    background-color: #494e54;
}


#stat {
    height: 300px;
    overflow-x:auto;
}